:root {
 --color-primary-0: #081A30;
 --color-primary-1: #285795;
 --color-primary-2: #45A2B5;
 --color-primary-3: #45A2B5;
 --color-primary-4: #E5EFF6;
}


.container {
  max-width: 900px;
  margin: 0px auto;
}

.button {
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: var(--color-primary-1);
  transition: all 0.2s;
}
.button:hover {
  background-color: var(--color-primary-2);
}